/*****************************/
/* General Styles            */
/*****************************/

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Helvetica;
  background-color: hsl(51.4, 14.1%, 80.8%);
  height: 100%;
  color: hsl(67.1, 34.4%, 18.4%);
  font-family: 'Stoke', serif;
  font-family: 'Hind Guntur', sans-serif;
  line-height: 16px;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px 1fr;
}

.buttonContainer {
  position: relative;
}

.buttonContainer::after {
  content: "";
  clear: both;
  display: block;
}

.break {
  flex-basis: 100%;
  height: 0;
}

#app {
  height: 100%;
  width: 100%;
}

.container {
  grid-column: span 12;
  grid-row: span 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

form {
  height: 400px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid hsl(67.1, 34.4%, 28.4%);
  margin: .5em 0;
  padding: 0;
}

.navigation {
  grid-column: span 12;
  /* background-color: #18260A; */
  background-color: hsl(39.6, 21.7%, 45.1%);
  display: block;
}

.span12 {
  grid-column: span 12;
  grid-row: span 1;
}

.span8 {
  grid-column: 3 / span 8;
  grid-row: span 1;
}

.span6 {
  grid-column: 4 / span 6;
  grid-row: span 1;
}

.title {
  font-size: 2rem;
  text-decoration: none;
  color: hsl(51.4, 14.1%, 90.8%);
  padding-left: 1rem;
  font-weight: bold;
  font-family: 'Alegreya SC', serif;
  line-height: 40px;
}

nav ul {
  list-style-type: none;
  float: right;
  display: flex;
  margin: 0;
  width: auto;
}

nav ul li {
  display: inline;
  font-weight: bold;
}

nav ul li a {
  color: rgb(245, 238, 238);
  display: block;
  text-decoration: none;
  line-height: 40px;
  padding: 0 10px;
  height: 40px;
}

nav ul li a:hover {
  background-color: hsl(39.6, 21.7%, 55.1%);
  color: #222;
  cursor: pointer;
}

/*****************************/
/* Home Component Styles     */
/*****************************/


.home {
  background-color: black;
  background-image: url("./dist/public/assets/bg3.jpg");
  background-size: cover;
  position: relative;
}

.header {
  font-size: 80px;
  color: white;
  position: absolute;
  left: 20%;
  top: 10%;
  font-family: 'Alegreya SC', serif;
}

.info {
  font-size: 20px;
  color: white;
  position: absolute;
  left: 20%;
  top: 100px;
  width: 40%;
  line-height: 24px;
}

.actionContainer {
  margin-top: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .actionContainer {
    margin-top: 200px;
  }
}

.frontSignupButton {
  border-radius: 2px;
  background-color: hsl(56, 61%, 61.8%);
  padding: 8px 16px;
  border: 2px solid hsl(67.1, 34.4%, 28.4%);
  font-weight: bold;
  font-size: 20px;
  color:hsl(67.1, 34.4%, 20.4%);
  margin: 10px;
  cursor: pointer;
}

.frontSignupButton:hover {
  background-color: hsl(56, 61%, 51.8%);
}

.frontSignupButton:focus {
  outline: none;
}

.frontLoginButton {
  border-radius: 2px;
  background-color: hsl(56, 61%, 61.8%);
  padding: 8px 16px;
  border: 2px solid hsl(67.1, 34.4%, 28.4%);
  font-weight: bold;
  font-size: 20px;
  color:hsl(67.1, 34.4%, 20.4%);
  margin: 10px;
  cursor: pointer;
}

.frontLoginButton:hover {
  background-color: hsl(56, 61%, 51.8%);
}

.frontLoginButton:focus {
  outline: none;
}

.loadDisplayContainer {
  grid-column: span 12;
  grid-row: span 1;
}

.loadDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
}

.loadCircle {
  width: 50px;
  height: 50px;  
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid hsl(39.6, 21.7%, 45.1%); /* Blue */
  border-radius: 50%;
  animation: spin .5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*****************************/
/* Register Component Styles */
/*****************************/

.registerFormContainer {
  padding: 40px;
  grid-column: span 12;
  grid-row: 1fr;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
}

.registerForm label {
  font-weight: bold;
  display: block;
  margin: 5px 0;
}

.registerForm .errorLabel {
  color: red;
  margin: 8px 0;
}

.confirmRegisterButton {
  border-radius: 5px;
  background-color: hsl(56, 61%, 61.8%);
  padding: 4px 8px;
  border: 2px solid hsl(67.1, 34.4%, 28.4%);
  font-weight: bold;
  font-size: 16px;
  background-image: none;
  color:hsl(67.1, 34.4%, 20.4%);
  margin-top: 20px;
  float: right;
  cursor: pointer;
}

/*****************************/
/* Login Component Styles    */
/*****************************/

.loginForm {
  grid-column: span 12;
  grid-row: 1fr;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  overflow-y: hidden;
}

@media only screen and (min-width: 768px) {
  .loginForm {
    grid-column: span 12;
    min-width: 200px;
  }
}

.loginForm .errorLabel {
  color: red;
  margin: 8px 0;
}


.loginForm label {
  font-weight: bold;
  display: block;
  margin: 5px 0;
}

/* .loginForm input {
  width: 100%;
} */

/* Login Button */

.confirmLoginButton {
  border-radius: 5px;
  background-color: hsl(56, 61%, 61.8%);
  padding: 4px 8px;
  border: 2px solid hsl(67.1, 34.4%, 28.4%);
  font-weight: bold;
  font-size: 16px;
  background-image: none;
  color:hsl(67.1, 34.4%, 20.4%);
  margin-top: 20px;
  float: right;
  cursor: pointer;
}

/*****************************/
/* Modal Component Styles    */
/*****************************/

.modal-bg {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.modal-bg-appear {
  opacity: 0.1;
}

.modal-bg-appear-active {
  opacity: 0.4;
  transition: opacity 300ms;
}

.modal-bg-appear-done {
  opacity: 0.4;
  transition: none;
}

.modal-bg-exit {
  opacity: 0.4;
}
.modal-bg-exit-active {
  opacity: 0.1;
  transition: opacity 300ms;
}
.modal-bg-exit-done {
  opacity: 0;
  transition: none;
}

.modal {
  background-color: hsl(51.4, 14.1%, 80.8%);
  /* width: 200px; */
  height: auto;
  z-index: 2;
  position: fixed;
  box-sizing: border-box;
  width: 90%;
  left: calc(50% - 45%);
  top: 0;
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 40%;
    left: calc(50% - 20%);
  }
}

.modal-appear {
  opacity: 0.1;
}

.modal-appear-active {
  opacity: 1;
  top: calc(50% - 200px);
  transition: opacity 300ms, top 300ms;
}

.modal-appear-done {
  top: calc(50% - 200px);
  opacity: 1;
  transition: none;
}

.modal-exit {
  top: calc(50% - 200px);
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  top: 0;
  transition: opacity 300ms, top 300ms;
}
.modal-exit-done {
  opacity: 0;
  top: 0;
  transition: none;
}

/***********************************/
/* ProcessModal Component Styles   */
/***********************************/

.processModal {
  padding: 30px;
}

.processModal h2 {
  margin-top: 0;
}

.processCategory {
  margin-top: 5px;
  margin-bottom: 8px;
  background-color: hsl(51.4, 14.1%, 70.8%);
}

.modalSubmit {
  background-color: hsl(56, 61%, 61.8%);
  padding: 5px 10px;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

.modalSubmit:hover {
  background-color: hsl(56, 61%, 51.8%);
  color: hsl(67.1, 34.4%, 8.4%);
}

.modalCancel {
  background-color: hsl(15, 50.5%, 91%);
  border-color: hsl(354, 20.4%, 60.8%);
  border-style: solid;
  padding: 5px 10px;
  font-weight: bold;
  float: left;
  cursor: pointer;
}

.modalCancel:hover {
  background-color: hsl(15, 50.5%, 81%);
}

.processCategory {
  width: 100%;
}

.processCategory option {
  background-color: hsl(51.4, 14.1%, 70.8%);
}

.cancelDeleteProcess {
  border-radius: 5px;
  background-color: hsl(15, 50.5%, 71%);
  padding: 4px 8px;
  border: 2px solid hsl(354, 20.4%, 60.8%);
  font-weight: bold;
  font-size: 16px;
  color:hsl(67.1, 34.4%, 20.4%);
  margin: 5px;
  margin-left: 0;
  float: left;
  cursor: pointer;
}

.cancelDeleteProcess:hover {
  background-color: hsl(15, 50.5%, 61%);
}

.confirmDeleteProcess {
  float: right;
  border-radius: 5px;
  background-color: hsl(56, 61%, 61.8%);
  padding: 4px 8px;
  border: 2px solid hsl(67.1, 34.4%, 28.4%);
  font-weight: bold;
  font-size: 16px;
  color:hsl(67.1, 34.4%, 20.4%);
  margin: 5px;
  margin-right: 0;
  cursor: pointer;
}

.confirmDeleteProcess:hover {
  background-color: hsl(56, 61%, 51.8%);
}

.processInput {
  margin-top: 5px;
  margin-bottom: 8px;
  width: 100%;
  font-size: 16px;
  background-color: hsl(51.4, 14.1%, 70.8%);
  box-sizing: border-box;
  resize: vertical;
}

.processInput:focus {
  outline: none;
  border: 2px solid hsl(67.1, 34.4%, 28.4%);
}

/*****************************/
/* TagInput Component Styles */
/*****************************/

.tagInput {
  outline: none;
  border: 1px solid black;
  /* border-bottom: 1px solid #0b4d4d; */
  width: 100%;
  box-sizing: border-box;
  background-color: hsl(51.4, 14.1%, 70.8%);
}

.tagInput:focus {
  outline: none;
}

.tagContainer {
  padding: 0px;
}

.tagList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  margin: 4px 0;
}

.tag {
  background-color: cadetblue;
  padding: 4px;
  border-radius: 4px;
  margin: 2px;
}

/*******************************/
/* Dashboard Component         */
/*******************************/

.dashboardContainer {
  grid-column: span 12;
  grid-row: span 1;
  margin: 6px;
}

@media only screen and (min-width: 768px) {
  .dashboardContainer {
    grid-column: 3 / span 8;
    grid-row: span 1;
  }
}

.emptyProcesses {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}

.processesBanner {
  padding-left: 0;
}

.processesContainer {
  margin-bottom: 100px;
  min-height: 250px;
  position: relative;
}

#addProcess {
  position: fixed;
  right: 60px;
  bottom: 40px;
  width: 60px;
  border: 2px solid black;
  border-radius: 50%;
  height: 60px;
  font-size: 2rem;
  color: hsl(67.1, 34.4%, 18.4%);
  box-shadow: 0 10px 6px -6px #777;
  background-color: hsl(56, 61%, 61.8%);
  cursor: pointer;
}

#addProcess:hover {
  background-color: hsl(56, 61%, 41.8%);
  color: hsl(67.1, 34.4%, 8.4%);
  color: white;
  outline: none;
}

#addProcess:focus {
  outline: none;
}

/*******************************/
/* Process Component           */
/*******************************/

.processContainer {
  width: auto;
  height: auto;
  background-color: hsl(67.1, 34.4%, 48.4%);
  position: relative;
  box-shadow: 0 10px 6px -6px #777;
  margin: 12px 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  grid-auto-rows: min-content;
}

.processEditButton {
  background-color: hsl(67.1, 34.4%, 48.4%);
  padding: 3px;
  width: 33px;
  height: 33px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin: 5px;
}

.processEditButton svg {
  fill: white;
}

.processEditButton:hover svg {
  fill: black;
}

.processEditButton:hover {
  background-color: hsl(219, 17.5%, 81.0%);
  border-style: solid;
  border-color: hsl(219, 17.5%, 41.0%);
  border-radius: 5px;
  border-width: 3px;
  padding: 0;
}

.processDeleteButton {
  /* background-color: hsl(15, 50.5%, 81%); */
  background-color: hsl(67.1, 34.4%, 48.4%);
  width: 33px;
  color: #3b3f1f;
  height: 33px;
  font-weight: bold;
  cursor: pointer;
  padding: 3px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.processDeleteButton svg {
  fill: white;
}

.processDeleteButton:hover svg {
  fill: black;
}

.processDeleteButton:hover {
  padding: 0px;
  border-width: 3px;
  background-color: hsl(15, 50.5%, 71%);
  border-style: solid;
  border-color: hsl(354, 20.4%, 60.8%);
  border-radius: 5px;
}

.processTask {
  background-color: hsl(51.4, 14.1%, 80.8%);
  padding: 8px;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 6px;
  cursor: pointer;
  grid-column: span 12;
  grid-row: span 1;
  /* grid-auto-rows: minmax(0,auto); */
}

.processTags {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 45px;
  grid-row: 2 / span 1;
  grid-column: span 8;
  /* grid-auto-rows: minmax(0,auto); */
}

.tagLabel {
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 6px;
}

.processCategoryLabel {
  background-color: hsl(51.4, 14.1%, 50.8%);
  color: hsl(39.6, 21.7%, 25.1%);
  color: white;
  /* margin: 40px auto; */
  text-align: center;
  line-height: 30px;
  height: 30px;
  padding: 0 8px;
  border-radius: 4px;
}

.detailContainer {
  display: flex;
  right: 0;
  top: 0;
  grid-column: 9 / span 2;
  grid-row: 2;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 6px;
  margin-right: 10px;
}

.detailButtonContainer {
  display: flex;
  justify-content: space-between;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 94%;
  margin-left: 56px;
}

.processTag {
  padding: 5px 7px;
  font-size: 11px;
  border-radius: 4px;
  font-weight: 600;
  margin: 2px;
  border: 2px solid hsl(39.6, 21.7%, 25.1%);
}

.processTag:nth-child(even) {
  color: hsl(39.6, 21.7%, 15.1%);
  background-color: hsl(39.6, 21.7%, 65.1%);
}
.processTag:nth-child(odd) {
  color: hsl(51.4, 14.1%, 80.8%);
  background-color: hsl(39.6, 21.7%, 45.1%);
}


/*******************************/
/* Replay Component           */
/*******************************/

.replayPage {
  /* background-color: hsl(51.4, 14.1%, 70.8%); */
  background-color: hsl(67.1, 34.4%, 48.4%);
  padding: 20px;
  margin-bottom: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  grid-row: span 1;
  grid-column: span 12;
}

@media only screen and (min-width: 768px) {
  .replayPage {
    grid-column: 4 / span 6;
    grid-row: span 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.replayPage h4 {
  color:  hsl(67.1, 34.4%, 18.4%);
  margin-bottom: 4px;
  margin-top: 10px;
}

.replayPage textarea {
  width: 100%;
  height: auto;
  background-color: hsl(51.4, 14.1%, 80.8%);
  font-size: 16px;
  resize: vertical;
  box-sizing: unset;
  font-family: sans-serif;
  line-height: 1.5rem;
}

.replayPage textarea:focus {
  /* background-color: hsl(51.4, 14.1%, 82.8%); */
  font-size: 16px;
  outline: none;
  border: 2px solid hsl(67.1, 34.4%, 28.4%);
  padding: 2px;
  box-sizing: border-box;
}

.replayDate {
  text-align: right;
  color: hsl(67.1, 34.4%, 28.4%);
  float: right;
}

.processBanner {
  padding: 10px;
  font-size: 18px;
  margin: 0;
  background-color: hsl(51.4, 14.1%, 80.8%);
}

.buttonContainer {
  position: relative;
}

.buttonContainer::after {
  content: "";
  clear: both;
  display: block;
}

.replayCreateButton {
  border-radius: 5px;
  background-color: hsl(56, 61%, 61.8%);
  padding: 4px 8px;
  border: 2px solid hsl(67.1, 34.4%, 28.4%);
  font-weight: bold;
  font-size: 16px;
  color:hsl(67.1, 34.4%, 20.4%);
  margin: 5px;
  float: right;
  cursor: pointer;
}

.replayCreateButton:hover {
  background-color: hsl(56, 61%, 51.8%);
}

.replayDeleteButton {
  border-radius: 5px;
  background-color: hsl(15, 50.5%, 71%);
  padding: 4px 8px;
  border: 2px solid hsl(354, 20.4%, 60.8%);
  font-weight: bold;
  font-size: 16px;
  color:hsl(67.1, 34.4%, 20.4%);
  margin: 5px;
  margin-top: 20px;
  float: left;
  cursor: pointer;
}

.replayDeleteButton:hover {
  background-color: hsl(15, 50.5%, 61%);
}

.replayUpdateButton {
  float: right;
  border-radius: 5px;
  background-color: hsl(56, 61%, 61.8%);
  padding: 4px 8px;
  border: 2px solid hsl(67.1, 34.4%, 28.4%);
  font-weight: bold;
  font-size: 16px;
  color:hsl(67.1, 34.4%, 20.4%);
  margin: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.replayUpdateButton:hover {
  background-color: hsl(56, 61%, 51.8%);
}

.prevButton {
  border-radius: 5px;
  background-color: hsl(46, 61%, 71.8%);
  padding: 4px 8px;
  border: 2px solid hsl(67.1, 34.4%, 28.4%);
  font-weight: bold;
  font-size: 16px;
  color:hsl(67.1, 34.4%, 20.4%);
  margin: 5px;
  margin-top: 10px;
  margin-left: 0;
  cursor: pointer;
}

.prevButton:hover {
  background-color: hsl(46, 61%, 61.8%);
}

.nextButton {
  border-radius: 5px;
  background-color: hsl(46, 61%, 71.8%);
  padding: 4px 8px;
  border: 2px solid hsl(67.1, 34.4%, 28.4%);
  font-weight: bold;
  font-size: 16px;
  color:hsl(67.1, 34.4%, 20.4%);
  margin: 5px;
  margin-left: 0;
  margin-top: 10px;
  cursor: pointer;
}

.nextButton:hover {
  background-color: hsl(46, 61%, 61.8%);
}

.processesButton {
  border-radius: 5px;
  background-color: hsl(56, 61%, 61.8%);
  padding: 4px 8px;
  border: 2px solid hsl(67.1, 34.4%, 28.4%);
  font-weight: bold;
  font-size: 16px;
  color:hsl(67.1, 34.4%, 20.4%);
  margin: 5px;
  cursor: pointer;
}

.processesButton:hover {
  background-color: hsl(56, 61%, 51.8%);
}

